.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 50vh;
  h1 { 
    text-align: center;
    margin-bottom: 0.5rem;
  }
  P { 
    width: 50%;
    text-align: center;
  }
}
